body{
    background-color: #bd4452;
    font-family: 'Bree Serif', serif;
}

h1,h2,h3, h4, h5, h6, button{
    font-family: 'Bree Serif', serif;
}

li a:hover{
    background-color: #1c3646;
}

#social-media a span{
    color: white;
    font-size: 1.4em;
    transition: all .5s;
}


#social-media{
    background-color: #1c3646;
}

#logo-container .callout{
    background-color: #bd4452;
    color: #fff;
    margin: 0;
}
#menu-container{
    background-color: #21d8d0;
}
#menu-container li a{
    color: #fff;
}

.submenu-container{
    background-color: #21d8d0;
    color: #fff;
    border:0;
}





#tickets-action button:hover{
    background-color: #aedfdd;
    border: 1px solid #dcdcdc;
}


.callout{
    margin: 0;
}


#lineup-container{
    color: #fff;
    padding: 1em 0;
    background-color: #308dbf;
}

.tabs{
    background-color: initial;
    border: none;
}

.tabs-title{
    display: inline-block;
    float: none;
}

.tabs-title a{
    font-size: 1rem;
    text-transform: uppercase;
}
.tabs-title a:hover{
    color: #fff;
    background-color: #308dbf;
}

.tabs-title.is-active a{
    background-color: #308dbf;
    color: #fff;
    outline: none;
}

/* #lineup-container .is-active a{
    color: white;
} */
